[Unit]
Description=NetBox (Gunicorn)
After=network.target postgresql.service redis-server.service

[Service]
User=root
WorkingDirectory=/opt/netbox/netbox
ExecStart=/opt/netbox/venv/bin/gunicorn \
    --workers 2 \
    --bind 127.0.0.1:8081 \
    netbox.wsgi

Restart=always

[Install]
WantedBy=multi-user.target