# Clés privées PKI - ne jamais commiter
infra-ansible/pki/
*.key

# Secrets locaux - ne jamais commiter
infra-ansible/.env
infra-ansible/.vault_pass
*.tar.gz
*.snap

# Fichiers de configuration locale
*.idea
