---
_meta:
  type: "internalusers"
  config_version: 2

admin:
  hash: "{{ opensearch_admin_hash.stdout_lines | last | trim }}"
  reserved: true
  backend_roles:
    - "admin"
  description: "Admin user"
