ui = true

listener "tcp" {
  address       = "{{ vault_listen_address }}:8200"
  tls_cert_file = "/opt/vault/tls/vault.crt"
  tls_key_file  = "/opt/vault/tls/vault.key"
}

storage "file" {
  path = "/opt/vault/data"
}

api_addr = "https://{{ vault_listen_address }}:8200"
